.mainDiv {
    background-color: blue;
}

.catName {
    font-size: 25px;
}

.titleDiv {
    text-align: center
}

.category {
    background-color: darkblue;
    line-height: 50px;
    padding: 5px;
    margin: 1em 0;
}